* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #35495e;
    background-color: aquamarine;
    padding: 30px;
}

ul {
    list-style: none;
}

button {
    width: 20px;
    background-color: #ddd;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0 auto;
  }

  #day-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  #day-bar div {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    text-align: left;
  }

  #calendar {
    background-color: white;
  }

  #calendar .calendar-week {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  #calendar .calendar-week .day {
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    height: 100px;
    user-select: none;
    cursor: default;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

  #calendar .calendar-week .day:last-child {
      border-right: 1px solid #ddd;
  }

  #calendar .calendar-week:last-child .day {
    border-bottom: 1px solid #ddd;
  }

  #calendar .calendar-week .day.past {
      opacity: 0.6;
  }

  #calendar .calendar-week .day.not-current-month {
      color: #ddd;
  }

  #calendar .calendar-week .day.today {
      background-color: rgba(255, 238, 173, 0.4);
  }

  #calendar .calendar-week .day.active {
      background-color: rgba(255, 182, 193, 0.3);
  }

  #event-form {
    display: none;
    box-shadow: 0 2px 4px #ddd;
    position: fixed;
    width: 300px;
    transform: translate(-50%, -100%);
    z-index: 10;
    padding: 14px;
    background-color: white;
    border: 1px #ddd solid;
    flex-direction: column;
    align-content: space-between;
  }

  #event-form.active {
    display: flex;
  }

  #event-form h4 {
    margin: 0 0 25px 0;
    color: #999;
    font-weight: normal;
    font-size: 16px;
  }

  #event-form p {
    font-size: 14px;
    margin: 0 0 20px 0;
  }

  #event-form .text {
    margin-bottom: 20px;
  }

  #event-form .text input[type='text'] {
    width: 100px;
    padding: 10px;
    font-size: 14px;
  }

  #event-form .buttons {
    text-align: right;
  }